.banner_wrapper{
     background-image: url("../images/banner_img.png");
     height:620px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     position: relative;
     width: 100%;
    }
.banner_wrapper .caption{
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner_wrapper .caption h1{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 34px;
}
.banner_wrapper .caption .banner_links{
    /* width: 125%; */
    /* align-items: center; */
    text-align: center;
    /* margin: 0 auto; */
}
.banner_wrapper .caption .banner_links ul{
    display: inline-flex;
    margin: 40px auto !important;
    text-align: center;
}
.banner_wrapper .caption .banner_links ul li{
    /* margin: 0px 35px; */
    list-style-type: none;
    border-right: 1px solid white;
    padding: 0px 5px;
    /* margin: 5px 0px; */
}
.banner_wrapper .caption .banner_links ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* border-right: 1px solid white; */
    padding: 5px;
}
.banner_button{
    text-align: center;
}
.banner_button a{
    color: white;
    border: 1px solid white;
    padding: 5px 25px;
    text-decoration: none !important;
}
.banner_button a:hover{
    color: white;
}
.navbar_button{position: absolute;top: 10%;left: 8%;}
.navbar_button a{
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    padding: 5px 10px;
    text-decoration: none !important;
}
.navbar_button a:hover{
    color: white;
}
.logo .logo_wrapper{
    margin: 20px 0px;
}
.logo .logo_wrapper ul{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}
.logo .logo_wrapper ul li{
    padding: 0px 30px;
    background: white;
}
.logo .logo_wrapper ul li a{
    text-decoration: none !important;
    text-align: center;
    border: none;
}
.vision_wrapper{
    background-color: #1373eb;
    padding: 25px;
}
.vision_wrapper .vision_analytics h1{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    font-family: Oswald;
    color: white;
    padding: 10px 0px;
}
.vision_analytics {
    padding: 20px 0px;
}
.vision_text{font-style: italic;font-size: 22px;color: white;}
.vision_text_one{font-size: 15px;color: white;}
.vision_wrapper .vision_analytics video {
  width: 100%;
  height: auto;
}
.vision_wrapper .vision_analytics .right a {
    text-decoration: none;
    color: blue;
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    padding: 5px 15px;
}
.vision_wrapper .vision_analytics .right a span.fas{}
.vision_wrapper .vision_analytics .right a span{
    padding: 0px 0px 0px 5px;
    font-weight: 900;
    font-size: 18px;
}
.cards{
    padding: 20px 0px;
    color: white;
}
.vision_wrapper .cards{}
.vision_wrapper .cards .card{}
.vision_wrapper .cards .card .card-body .header{
    display: flex;
    align-items: center;
}
.vision_wrapper .cards .card .card-body .header:after{
    content: "";
    clear: both;
    display: block;
}
.vision_wrapper .cards .card .card-body a{
    text-align: right;
    float: right;
    border-radius: 25px;
}
.vision_wrapper .cards .card .card-body a:hover{}
.vision_wrapper .cards .card .card-body .header img{
    float: left;
    height: auto;
}
.vision_wrapper .cards .card .card-body .header h5{
   /* margin-left: 20px;*/
}  
.vision_wrapper .cards .card .card-body .card-text{
    padding: 10px 0px;
}
.vision_wrapper .cards .card .card-body .card-text p{}
.contact{
    background-image: url("../images/fotter_bg.png");
    padding: 25px 0px 0 0;
}
.contact .contact_wrapper{}
.contact .contact_wrapper .header{}
.contact .contact_wrapper .header h1{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    font-family: Oswald;
}
.contact .contact_wrapper .header p{
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-family: Ubuntu;
}
.contact .contact_wrapper_form{}
.contact .contact_wrapper_form #form{}
.contact .contact_wrapper_form #form .md-form{}
.contact .contact_wrapper_form #form .md-form input{
    border: none !important;
    border-bottom: 1px solid lightgrey !important;
    background: none;
}
.contact .contact_wrapper_form #form .md-form label{}
.contact .contact_wrapper_form #form .service_wrapper{
    padding: 15px 0px;
    text-align: left;
}
.contact .contact_wrapper_form #form .service_wrapper .services_options{
    text-align: center;
}
.contact .contact_wrapper_form #form .service_wrapper .services_options ul{
    display: inline-flex;
    list-style-type: none;
    /* text-align: left; */
    margin: 25px 0px;
}
.contact .contact_wrapper_form #form .service_wrapper .services_options ul li{
    padding: 15px 10px;
}
.contact .contact_wrapper_form #form .service_wrapper .services_options ul li a{
    color: black;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 5px 25px;
    text-decoration: none !important;
}
.contact .contact_wrapper_form #form .message{ margin-top: 50px; }
.contact .contact_wrapper_form #form .send_button{
    /* padding: 15px 0px; */
    text-align: center;
    margin: 30px 0px;
}
.contact .contact_wrapper_form #form .send_button a{
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}
.footer{
    /* background-color: #53a4f8; */
    width: 100%;
    opacity: 0.6;
    background: url(../images/full-width-bg.png) no-repeat 50%;
    background-size: cover;
}
.footer .footer_wrapper{
    padding: 50px 0px;
}
.footer .footer_wrapper .social_icons{
    display: inline-flex;
    /* align-items: center; */
    /* padding: 10px 0px; */
}
.footer .footer_wrapper .social_icons ul{
    padding: 0px !important;
}
.footer .footer_wrapper .social_icons ul li{
    display: inline-flex;
    padding: 0px 8px;
}
.footer .footer_wrapper .social_icons a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    /* margin: 0px !important; */
    /* padding: 0px !important; */
    font-weight: 900;
}
.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.footer .footer_wrapper .address{
    color: white;
}
.footer .footer_wrapper .footer_one{
    margin: 10px 0px;
}
.footer .footer_wrapper .footer_two{
    margin: 10px 0px;
}
.footer .footer_wrapper span.location{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.footer .footer_wrapper .location_wrapper{
    padding: 15px 0px;
    font-size: 15px;
}
.footer:before{content: ''}




/*
//media query*/
@media (min-width:320px) and (max-width:900px) {
 .banner_wrapper .caption h1{
    font-size: 18px;
}
.banner_wrapper .caption .banner_links ul li a{
    font-size: 16px;
    display: block;
}
.banner_wrapper .caption .banner_links ul{
    display: block;
    text-align: center;
    /* margin: 0 auto !important; */
    padding: 0px !important;
}
.banner_wrapper .caption .banner_links ul li a{}
.banner_wrapper .caption{
    top: 50%;
}
.logo .logo_wrapper ul li a img{}
.logo .logo_wrapper ul{}
.logo .logo_wrapper ul li{}
}
@media (max-width: 768px){
    .contact .contact_wrapper_form #form .service_wrapper .services_options ul{
        display: block;
        text-align: center;
        margin: 0px auto;
        padding: 0px !important;
    }
    .banner_wrapper{
    height: 350px;
    margin:0px !important;
}
.banner_wrapper .caption .banner_links ul li a{
    font-size: 12px;
    text-align: cenetr!important;
    border: 1px solid white;
    width: 35%;
    margin: 5px auto;
    border-radius: 25px;
}
.banner_wrapper .caption{
    top: 50%;
}
.logo .logo_wrapper ul li a img{}
.logo .logo_wrapper ul{
    padding: 0px;
    margin: 0px !important;
}
.logo .logo_wrapper ul li{
    padding: 0 5px;
}
.vision_wrapper .vision_analytics h1{
    font-size: 28px;
}
.vision_text{
    font-size: 16px;
}
.vision_text_one{
    font-size: 13px;
}
.vision_wrapper .vision_analytics .right a{}
.vision_button{
    text-align: center;
}
.vision_card{
    padding: 10px 0px;
}
.card_button{
    text-align: center;
}
.vision_wrapper .cards .card .card-body a{
    float: none;
}
.contact .contact_wrapper .header h1{
    font-size: 24px;
}
.contact .contact_wrapper .header p{
    font-size: 14px;
}
.footer .footer_wrapper .social_icons{display: block;
    margin: 50px 0px;}
.footer .footer_wrapper{padding: 50px 0px;}
.footer .footer_wrapper span.location{
    font-size: 14px;
}
.footer .footer_wrapper .location_wrapper{
    font-size: 12px;
}
.banner_wrapper .caption .banner_links ul li{
    border: none;
}
}